# .gitignore

# Node.js dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.pid
*.seed
*.lock

# Build files
build/

# IDE files
.vscode/
.idea/
*.iml

# macOS files
.DS_Store


opensite.pem
test.js